<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="simpleBean" class="com.example.beans.SimpleBean"/>

    <bean id="createdByFactoryMethodBean" class="com.example.beans.BeanCreatedByFactoryMethod" factory-method="createInstance"/>

    <bean id="serviceLocator" class="com.example.beans.ServiceLocator"/>
    
    <bean id="someBean" factory-bean="serviceLocator" factory-method="createBeanInstance"/>
    
</beans>